<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' {{ printf "content=%q" $description | safeHTMLAttr }}>
{{ with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

{{ with .Params.canonicalUrl }}
<link rel="canonical" href="{{ . }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{- $sass := resources.Get "scss/style.scss" -}}
{{- $style := $sass | toCSS | minify | resources.Fingerprint "sha256" -}}
<link rel="preload" href="{{ $style.RelPermalink }}" as="style">

{{- partial "head/custom-font.html" . -}}
{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{- $favicon := partial "helper/image" (dict "Image" .Site.Params.favicon "Resources" resources "Context" .) -}}
{{ with $favicon }}
    <link rel="shortcut icon" href="{{ .Permalink }}" />
{{ end }}

{{- if .Site.Params.cookies.enabled -}}
    {{- partial "cookies/analytics.html" . -}}
{{- end -}}

{{- partial "head/custom.html" . -}}

{{- partial "head/schema.html" . -}}

{{- partial "head/ga4.html" . -}}

<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3057389153621190"
     crossorigin="anonymous"></script>
