{{- /* FAQPage Schema */ -}}
{{- $questions := slice -}}
{{- range .Params.faq -}}
  {{- $questions = $questions | append (dict
        "@type" "Question"
        "name" .question
        "acceptedAnswer" (dict
            "@type" "Answer"
            "text" .answer
        )
    )
  -}}
{{- end -}}
{{- $schema := dict
    "@context" "https://schema.org"
    "@type" "FAQPage"
    "mainEntity" $questions
-}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
